body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 10px 0;
}

.box {
  width: 300px;
  margin: 10px;
  padding: 10px;
  line-height: 25px;
  float: left;
  border-radius: 5px;
  border: 1px solid #999;
}

.clearBoth {
  clear: both;
}

input {
  width: 200px;
}